@media screen and (max-width:880px) {
    .form {
        width: 70% !important;
    }
}

@media screen and (max-width:629px) {
    .form {
        width: 100% !important;
    }
}

@media screen and (min-width:440px) {
    #btn-sm {
        display: none;
    }
}

@media screen and (max-width:439px) {
    #btn-sm {
        display: line;
    }

    #btn-lg {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .icon {
        width: 100% !important;
    }
}

body {
    background: #0C1723;
}


.form {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 32px;
}

input {
    width: 70%;
    border: 1px solid #DDDDDD;
}

button[type=button] {
    width: 20%;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

input,
button[type=button] {
    height: 32px;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 8px 3px 8px;
    margin: 5px 10px 3px 10px;
    border-radius: 16px;
}

input:focus {
    box-shadow: 0 0 5px 1px rgba(81, 203, 238, 1);
    transform: scale(1.05);
    border: 1px solid rgba(81, 203, 238, 1);
}

.icon {
    width: 500px;
    height: 300px;
}

.dv {
    display: block;
    background: inherit;
}

.gt {
    width: 250px !important;
    height: 250px !important;
    font-size: 200px !important;
    color: aliceblue;
    padding: 10px;
}

.p {
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C1723;
}

.bor {
    background-image: linear-gradient(to right top, #aa40b4, #9351c3, #775ecf, #556ad6, #1f73d9);
    border-radius: 50%;
    padding: 2px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my-text {
    color: #f39c07;
    font-size: 3.5em;
    font-family: serif;
}

.card {
    width: 18rem;
    margin-bottom: 32px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px 2px white;
}

.user-img {
    width: 100%;
    height: 280px;
    background: #242534;
}

.img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#error {
    color: white;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading {
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}