* {
    margin: 0% !important;
}

.btn {
    border-radius: 8px !important;
    outline: none !important;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.repo:hover {
    text-decoration: underline !important;
}

.my-text{
    font-size: 14px;
    font-weight: 600;
}

#repo-count {
    padding: 2px 8px 2px 8px;
    background: #E8EAEC;
    border-radius: 20px;
}

.text-primary {
    font-size: 20px;
    font-weight: 600;
}

.name {
    font-size: 26px;
    line-height: 1.25;
    font-weight: 600;
}

.name1,
.user-bio {
    font-size: 20px;
    font-style: normal;
    color: var(--color-text-secondary);
}

.name1 {
    font-weight: 300;
}

.no-pad {
    padding: 0% !important;
}

.img {
    width: 260px;
    height: 260px;
}

.line {
    font-size: 15px !important;
}

.hover {
    display: inline-block;
}

.border-tp {
    border-top: 1px solid grey !important;
}